/1. App/AspMVCVuePost.App/bin/
/1. App/AspMVCVuePost.App/obj/Debug/
/packages/
/1. App/AspMVCVuePost.App/node_modules/
/3. Repository/AspMVCVuePost.Repository/bin/
/3. Repository/AspMVCVuePost.Repository/obj/Debug/
/5. Test/AspMvcVuePost.Test/obj/Debug/
/.vs/
/2. Service/AspMVCVuePost.Service/bin/
/4. Lib/AspMVCVuePost.Lib/obj/Debug/
/2. Service/AspMVCVuePost.Service/obj/Debug/
/4. Lib/AspMVCVuePost.Lib/bin/
/5. Test/AspMvcVuePost.Test/bin/
