@{
    ViewBag.Title = "Contact Page";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width-device-width"/>
    <title>Contact</title>
</head>
<body>
    <div id="app">
        <contact-component></contact-component>
    </div>


    @section scripts
    {
        <script src="@Url.Content("~/Build/bundle/home.js")"></script>
    }
</body>

</html>